
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	list-style: none;
	text-transform: uppercase;
	font-size: 18px;
	font-family: 'Sansation';
	color: #e5e5e5;
	text-decoration: none;
	font-family: 'Open Sans Condensed', sans-serif;
}

.clearfix {
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}

.center-element {
	margin-left: auto;
	margin-right: auto;
	max-width: 1920px;
}

div.content {
	max-width: 1920px;
	.center-element;
	position: relative;
}

header nav {
	position: fixed;
	top: 0px;
	width: 1920px;
	height: 150px;
	background-color: rgba(77, 88, 96, 0.9);
}

h1.logo {
	float: left;
	.clearfix;
	margin-left: 360px;
	background-image: url('../logo.png');
	height: 22px;
	width: 126px;
	display: inline-block;
	margin-top: 66px;
	a {
		text-indent: -10000px;
		height: 22px;
		width: 126px;
		display: block;
	}
}

ul.head {
	margin-right: 360px;
	margin-top: 60px;
	float: right;
	.clearfix;
	li.contact {
		border: solid 3px #4bcaff;
		width: 100px;
		height: 34px;
		vertical-align: middle;
		text-align: center;
		color: #4bcaff;
		padding-top: 5px;
	};
	li {
		display: inline-block;
		font-size: 14px;
		margin-left: 32px;
	}
}

div.slick {
	width: 100%;
	height: 800px;
	margin: 0 auto;
	div img {
		width: 100%;
		height: 100%;
	}
}
div.slide {
	position: relative;
	ul.rows {
		position: absolute;
		max-width: 1000px;
		max-height: 640px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		li {
			padding-top: 12px;
			span {
				background-color: rgba(77, 88, 96, 0.9);
				font-size: 42px;
			}
		}
	}
}
	


section.userForm {
	width: 100%;
	height: 812px;
	h2 {
		margin-bottom: 10px;
		font-size: 30px;
		font-weight: lighter;
		&:after {
					content: '';
					width: 45px;
					height: 3px;
					background-color: #e5e5e5;
					display: block;
				}
	}
	form.formFill {
		margin-left: 360px;
		margin-right: 360px;
		padding-top: 76px;
		::placeholder {
			color: 	#e5e5e5;
			text-transform: none;
			font-size: 20px;
			opacity: 0.3;
			margin-left: 10px;
		};
		div.userInfo {
			display: inline-block;
			width: 600px;
			label {
				margin-top: 26px;
			}
			input {
				background-color: rgba(0, 0, 0, 0);
				border: solid 2px #e5e5e5;
				width: 470px;
				height: 60px;
				margin-top: 10px;
				margin-right: 65px;
			}
			* {
				display: block;
			}
		}
		div.blueasyInfo {
			display: inline-block;
			float: right;
			.clearfix;
			width: 600px;
			margin-top: 45px;
			p {
			text-transform: none;
			text-align: justify;
			line-height: 22px;
			margin-left: 65px;
			}
		}
		div.message {
			display: block;
			margin-top: 40px;
			textarea {
				border: solid 2px #e5e5e5;
				width: 100%;
				height: 220px;
				margin-top: 10px;
				background-color: rgba(0, 0, 0, 0);
			}
			input {
				width: 370px;
				height: 60px;
				background-color: #4bcaff;
				border: none;
				margin-top: 26px;
				&:hover {
					background-color: #e5e5e5;
					color: #4bcaff;
					font-weight: bold;
				};
			}
		}
	}
}




section.feedback {
	width: 100%;
	height: 362px;
	background-color: #ffffff;
	div.allFeedbacks {
		width: 1200px;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		h2 {
			color: #515f67;
			padding-top: 80px;
			font-size: 30px;
			&:after {
					content: '';
					width: 45px;
					height: 3px;
					background-color: #515f67;
					display: block;
				}
			img {
				width: 30px;
				height: 30px;
				float: right;
				.clearfix;
			}
		}
		p {
			color: #515f67;
			text-transform: none;
			font-size: 28px;
			margin-top: 40px;
			line-height: 50px;
			width: 1150px;
			font-style: italic;
		}

		p span {
			display: block;
			color: #4bcaff;
			font-size: 14px;
			margin-top: 0px;
			font-weight: bold;
		}
	}
}

footer {
	width: 100%;
	height: 150px;
	background-color: #353f47;
	ul {
		margin-left: 360px;
		margin-top: 75px;
		float: left;
		.clearfix;
		li {
			display: inline-block;
			margin-left: 15px;
			a {
				margin-right: 15px;
			}
		}
	}

	div.copyright {
		float: right;
		.clearfix;
		margin-right: 360px;
		margin-top: 75px;
	}
}



