body, html {
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

*{
	margin:0px;
	padding: 0px;
}


@keyframes move {
	0% {
		top: 0px;
		left: 0px;
		transform: rotate(360deg);
	}

	25% {
		top: 0px;
		left: calc(100% - 100px);
	}

	50% {
		top: calc(100% - 100px);
		left: calc(100% - 100px);
		background-color: darkred;
	}

	75% {
		top: calc(100% - 100px);
		left: 0px;
		background-color: darkred;
	}
	
	100% {
		top: 0px;
		left: 0px;
		transform: rotate(0deg);
	}


}
div.animation {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100px;
	height: 100px;
	background-color: red;
	animation-name: move;
	animation-duration: 6s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	transform: rotate(45deg);
}

@keyframes move2 {
	0% {
		top: 0px;
		left: 0px;
		transform: rotate(360deg);
	}

	25% {
		top: 0px;
		left: calc(100% - 100px);
	}

	50% {
		top: calc(100% - 100px);
		left: calc(100% - 100px);
		background-color: #FFBF00;
	}

	75% {
		top: calc(100% - 100px);
		left: 0px;
		background-color: #FFBF00;
	}
	
	100% {
		top: 0px;
		left: 0px;
		transform: rotate(0deg);
	}

}

div.animation2 {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100px;
	height: 100px;
	background-color: yellow;
	animation-name: move2;
	animation-duration: 6s;
	animation-delay: 3s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

nav {
	background-color: #FFAA1D;
	margin-left: calc(50% - 300px);
	margin-top: calc(50vh - 25px);
	width: 600px;
	height: 50px;
	text-align: center;
	display: inline-block;
	
}

nav ul li {
	display: inline-block;
	position: relative;
	height: 50px;
}

nav ul li a {
	text-decoration: none;
	font-size: 30px;
	font-family: Arial;
	color: #ffffff;
	padding: 10px;
	width: 200px;
}
nav ul li a:hover {
	background-color: #ffffff;
	color: #FFAA1D;
}

nav ul li ul {
	position: absolute;
	display: none;
	background-color: #FFAA1D;
	color: #ffffff;
	margin-top: ;
	float: left;
}
nav ul li:hover ul {
	display: block;

}

nav ul li ul li a {
	font-size: 22px;
}
i {
	position: absolute;
  font-size: 16px; 
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  margin: 0;
  z-index: 99;
}





