body, html {
	height: 100%;
	background: center center fixed url(https://78.media.tumblr.com/d644a794735885c7f91cd454a63496c3/tumblr_nbbcly0MRk1qg67clo1_500.gif);
	background-repeat: no-repeat;
	background-size: cover;
}

*{
	margin:0px;
	padding: 0px;
}

* {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
	font-size: 30px;
	margin: 0px;
	
	background-repeat: no-repeat; 
	background-position: center bottom; 
	background-attachment: fixed; 
	color: #000000;
}

.clear {
	clear: both;
}

.wrap {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-size: 80px;
	padding-left: : 22px;
	float: left;
	font-family: Brush Script MT, Brush Script Std, cursive
}

header {
	background-color: #71706E;
	color: #C0C0C0;	
	text-align: center;
}

header img {
	float: left;
	width: 15%;
	text-align: left;
	margin: 0px;
}

header li {
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	color: #C0C0C0;
}

header form {
	float: right;
	margin-top: 20px;
	color: #C0C0C0;
	padding-right: 20px;
	font-size: 20px;
}


.midCol {
	background-color: #C0C0C0;
	display: table-cell;
	width: 52%;
	text-align: justify;
	margin-left: 10px;
	font-size: 25px;
	padding: 21px;
	border: 3px solid #C0C0C0;
	border-radius: 12px;
}

.leftCol {
	width: 20%;
	display: table-cell;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;

}

.services, .promo, .something {
	border: 3px solid #9C8AA4;
	border-radius: 12px;
	box-sizing: border-box;
	text-align: left;
	background-color: #9C8AA4;
	padding: 10px;
	margin-bottom: 10px;

}
.services ul, .promo ul, .something ul {
	list-style: none;
	font-size: 20px;

}
.rightCol  {
	display: table-cell;
	width: 23%;
	box-sizing: border-box;
	text-align: left;
	margin-bottom: : 10px;
	background-color: #9C8AA4;
	font-size: 20px;
	padding: 15px;
	background-color: 
	border: 3px solid #9C8AA4;
	border-radius: 12px;
}
.contacts ul {
	list-style: none;
	margin-top: 0px;
}




footer {
	background-color: #71706E;
	font-size: 15px;
	text-align: center;
	color: black;
	margin-top: 20px;
}

footer ol, {
	list-style: none;
}

footer li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
}



