body, html {
	height: 100%;
}

*{
	margin:0px;
	padding: 0px;
}

* {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
	font-size: 30px;
	margin: 0px;
	
	background-repeat: no-repeat; 
	background-position: center bottom; 
	background-attachment: fixed; 
	color: #000000;
}
.fixedButton {
	position: fixed;
	background-color: red;
	width: 150px;
	height: 50px;
	bottom: 45px;
	right: 100px;
	z-index: 3;
	display: block;
	color: black;
	text-decoration: none;
	text-align: center;
}

div.content {
	max-width: 1000px;
	margin: 0px auto;
	height: 350px;
}
div.box{
border: solid 1px black;
position: relative;
width: 300px;
height: 300px;
display: inline-block;
top: 10px;
left: 10px;

}

div.Button {
	position: absolute;
	background-color: violet;
	width: 100px;
	height: 100px;
	top: 30px;
	right: 30px;
	display: block;
	color: blue;
	text-decoration: none; 
}
.Button:hover {
	background-color: darkviolet;
	z-index: 100;
}

div.Button-2 {
	position: absolute;
	background-color: pink;
	width: 100px;
	height: 100px;
	top: 40px;
	right: 40px;
	}
	.Button-2:hover {
	background-color: #E85395;
	z-index: 100;
}

div.Button-3 {
	position: absolute;
	background-color: grey;
	width: 100px;
	height: 100px;
	top: 50px;
	right: 50px;
	
	}
	.Button-3:hover {
	background-color: darkgrey;
	z-index: 100;
}

.wrap {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}





