body, html {
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

*{
	margin:0px;
	padding: 0px;
}


@font-face {
    font-family: 'strawberry_blossomregular';
    
src: url('../../fonts/strawberry_blossom-webfont.woff2') format('woff2'),
         
url('../../fonts/strawberry_blossom-webfont.woff') format('woff');
    
font-weight: normal;
    
font-style: normal;


}




@navColor: #0f0;
@navHeight: 110px;
.bordered {
	border-top: dotted 1px black;
	border-bottom: solid 2px black;
}
.clearfix {
	&:after {
		content: '';
		clear: both;
		display: table;


	}
}



nav {
	background-color: green;
	width: 100vw;
	margin-right: auto;
	margin-left: auto;
	height: @navHeight;
	ul li {
		display: inline-block;
		position: relative;
		height: @navHeight;
		.bordered;

			ul {
				display: none;
				position: absolute;
				left: 0px;
				top: 30px;/*за да не ми се крие падащото меню; top= колкото е height на основното*/
				background-color: darkgreen;
				color: white;
				margin-top: @navHeight;
			}
				a {
				color: black;
				text-decoration: none;
				font-size: 30px;
				line-height: @navHeight;
				height: @navHeight;
				padding: 0px 10px;
				&:hover {
				background-color: blue;
				/*за ховър, който е вложен във вложена декларация*/
				}
			}
	}
}

section {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	font-size: 22px;
	
	/*вместо br clear: */&:after {
		content: "";
		clear: both;
		display: table;

		/*за да разтеглим section до размера на двата div-a*/
	}

	div.col1 {
		float: left;
		width: 40%;
		box-sizing: border-box;
		padding-right: 10px;
		img {
			width: 100%;
		}
	}
	div.col2 {
		float: left;
		width: 60%;
		background-color: yellow;
	}
}
nav ul li:hover ul {
	display: block;
}


nav ul li ul li {
	display: block;
	font-size: 10px;
}

ol {
	max-width: 1500px;
}


ol.features {
	.clearfix;

	li {
	float: left;
	width: 25%;
	list-style: none;
	text-align: center;
	padding-left: 13px;
	padding-right: 13px;
	box-sizing: border-box;

	&:nth-child(2) span {
		background-image: url("../images/icon-developing.png");
	}
	&:nth-child(3) span {
		background-image: url("../images/icon-designing.png");
	}
	&:nth-child(4) span {
		background-image: url("../images/icon-analysis.png");
	}
	p {
		text-align: justify;
		font-size: 25px;
		color: #313131;
	}
	h3 {
		font-size: 30px;
		color: #3498db;
		margin-top: 30px;
		margin-bottom: 5px;
		height: 60px;
		line-height: 30px;

	}

	span {
		display: inline-block;
		width: 110px;
		height: 110px;
		background-color: #3498db;
		border-radius: 50%;
		background-image: url("../images/icon-consulting.png");
		background-repeat: no-repeat;
		background-position: center center;

	}
}
}

@media screen and (max-width: 840px) {
	ol li.designing,
	ol li.consulting
	 {
		display: block;
		width: 50%;
	}
	ol li.developing,
	ol li.analysis {
		width: 50%;
	}

}

@media screen and (max-width: 640px) {
	section div.col1,
	section div.col2,
	ol li.developing,
	ol li.designing,
	ol li.consulting,
	ol li.analysis, {
		float: none;
		width: 100%;
	}
}

