body, html {
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

*{
	margin:0px;
	padding: 0px;
}




@pink: #FF9899;
@grey: #CFCFCF;
@darkGrey: #6E7F80;

@navHeight: 70px;

.bordered {
	border-top: dotted 1px black;
	border-bottom: solid 2px black;
	border: solid 1px @darkGrey;
}


nav {
	background-color: #000000;
	width: 1500px;
	margin-right: auto;
	margin-left: auto;
	height: @navHeight;
	ul li {
		display: inline-block;
		position: relative;
		height: @navHeight;
		.bordered;

			ul {
				display: none;
				position: absolute;
				left: 0px;
				background-color: darkgreen;
				color: white;
				margin-top: 0px;
			}
				a {
				color: @grey;
				text-decoration: none;
				font-size: 30px;
				line-height: @navHeight;
				height: @navHeight;
				padding: 0px 10px;
				&:hover {
				background-color: blue;
				}
			}
	}
}

section {
	max-width: 1500px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 22px;
	&:after {
		content: "";
		clear: both;
		display: table;
	}

	div.col1 {
		float: left;
		width: 30%;
		padding: 10px;
		img {
			width: 100%;
		}
	}
	div.col2 {
		float: left;
		width: 40%;
		background-color: @grey;
		margin: 10px;
		padding: 10px;
		
	}
	div.col3 {
		float: left;
		width: 20%;
		background-color: @grey;
		margin: 10px;
		padding: 10px;

	}
}
nav ul li:hover ul {
	display: block;
}


nav ul li ul li {
	display: block;
	font-size: 10px;
}



@media screen and (max-width: 640px) {
	section {
		margin-top: 200px;
	}

	section div.col1,
	section div.col2,
	section div.col3 {
		float: none;
		width: 100%;
	}
	nav ul  {
		background-color: @darkGrey;
		
	}
	nav ul li {
		float: none;
		width: 50%;
	}

	nav ul li a {
		color: #000000;
	}

	nav ul.main {
		height: 210px;
	}


}

